@import url(https://fonts.googleapis.com/css?family=Roboto);

li {
font-family: 'Roboto', sans-serif; 
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;   
line-height: 1.2;
}

.title {
font-weight: 500;
color: rgb(25,150,255)   
}
